body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}
.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.togglebtn{
  width: 70px;
}
.input {
  width: 80%;
  
}

.select {
  font-size: 20px;
  width: 200px;
  padding: 8px;
  margin-right: 4%;
  margin-bottom: 16px;
}

.sort-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.mobile-list {
  list-style: none;
  padding: 0;
}

.mobile-item {
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 8px;
  background-color: #fff;
}

/* Add hover effect to mobile items */
.mobile-item:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.Display {
  height: 600px;
  overflow-y: scroll;
}

.selectmulti {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.multi {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
input {
  font-size: 20px;
}
